*:focus {
    outline: thin dotted;
}

body {
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color:#111;
    background: #FAFAFA;
}

main {
    max-width: 380px;
    margin: 0px auto;
    padding: 10px;
}

header {    
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    margin-bottom:10px;
}

h1 {
    font-size:28px;
    margin:0;
    font-weight:700;
    flex-grow:1;
    color:#111;
}

h2 {
    font-size:14px;
    font-weight:700;
    width:100%;
}

header img {
    margin-right:10px;
}

h3 {
    margin:0;
}

h3:first-child {
    font-weight:400;
    font-size:14px;
}

h3:last-child {
    font-weight:700;
}

h5 {
    font-weight:400;
}

h6 {
    width:100%;
    flex-grow:1;
    text-align:center;
    margin:0;
}

a {
    text-decoration:none;
    color:#111;
}

p {
    font-size:14px;
    margin:0;
}

.how-much {
    font-weight:600;
}

.how-much.receives {
    color:#3EC960;
}

.how-much.debit,
.rest p strong {
    color: #FF3A30;
}

.rest p {
    font-size:18px;
    text-align:center;
    margin:0;
}

.rest p span {
    font-size:14px;
    color:#AEAEAE;
}

header div span {
    font-size:14px;
    font-weight: 700;
}

.input-group {
	display:flex;
	justify-content:space-between;
	align-items:center;
    margin-bottom:20px;
}

.input-group input:nth-child(4) {
    margin-left:5px;
}

input {
    box-sizing: border-box;
    width: 100%;
    height:32px;
    border-radius:2px;
    padding: 4px 11px;

    color: rgba(0,0,0,.65);
    font-family:inherit;
    font-size: 14px;
    line-height: 1.5715;    

    background-color: #fff;
    background-image: none;
    border: 1px solid #CCC;

    transition: .3s;
}

button {
    line-height: 1.5715;
    font-weight: 600;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    font-family:inherit;
    height: 36px;
    font-size: 14px;
    border-radius: 8px;
    width:100%;
}

button.btn-add {    
    color: #fff;
    background: rgb(41,101,223);
    background: linear-gradient(324deg, rgba(41,101,223,1) 0%, rgba(60,77,185,1) 100%);
    border-color: rgb(41,101,223);
}

button.btn-delete {
    width:auto;
    font-weight: 600;
    border:none;
    font-family:inherit;
    border-radius: 50%;
    padding:0;
    padding-top:1px;
    
    color: #FF3A30;
    background:transparent;
    margin-left:5px;

    transition:.3s;
}

button.btn-clean {    
    flex-grow:1;
    width: 100%;
    margin-top:20px;
}

button.btn-send {
    width:auto;
    height:auto;
    font-weight: 600;
    border:none;
    padding:0;
    padding-top:8px;
    
    color: rgb(41,101,223);
    background:transparent;
}

input:hover {
    border-color: rgb(41,101,223);
    border-right-width: 1px!important;
}

input:focus,
button.btn-add:hover,
button.btn-add:focus {
    border-color: rgb(41,101,223);
    border-right-width: 1px!important;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(24,144,255,.2);
    box-shadow: 0 0 0 2px rgba(24,144,255,.2);
}

#who-put-list,
#division-list {
    margin: 20px 0 0;
}

.someone {
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;

    margin: 10px 0;
}

.someone img {
    margin-right:5px;
}

hr {
    flex-grow:1;
    border:none;
    border-top:dashed 1px #CCC;
    margin: 0 10px;
}

#total {
    margin: 40px 0 ;
    /*padding:10px 0;
    border-top: solid 1px #CCC;
    border-bottom: solid 1px #ccc;*/
    padding:10px 20px;
    background:#FFF;
    border-radius:8px;
    border: solid 1px #EAEAEA;
    box-shadow: 0 0 10px rgba(204,204,204,0.3);
}

#total > div {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.divided-by {
    margin-top: 10px;
}

.divided-by input {
    width:auto;
    height:28px;
    max-width:80px;
}

.rest {
    background: #FFFFFF;
    border: dashed 1px #CCC;
    padding: 5px 10px;
    border-radius: 8px;
    margin-top:20px;    
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

footer {
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}

@media only screen and (max-width:310px) {

    h1 {
        font-size:18px;
    }

    header img {
        max-width:30px;
    }

}