body {
    font-family: 'Inter', sans-serif;
    color:#111;
    background: #FFF;
}

main {
    max-width: 380px;
    margin: 0px auto;
    padding: 10px;
}

header {    
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    margin-bottom:20px;
}

h1 {
    font-size:28px;
    margin:0;
    font-weight:700;
    flex-grow:1;
    
    background: linear-gradient(to right, #3b4fbc 0%, #2b64dc 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2 {
    font-size:14px;
    margin:10px 0 0 0;
    font-weight:400;
    width:100%;
    text-align:center;
}

header img {
    margin-right:10px;
}

h3 {
    margin:0;
}

h3:first-child {
    font-weight:400;
    font-size:16px;
}

h3:last-child {
    font-weight:700;
    font-size:20px;
    margin-left:10px;
}

h5 {
    font-weight:400;
}

a {
    text-decoration:none;
    color:#3b4fbc;
}

p {
    font-size:14px;
    margin:0;
}

.how-much {
    font-weight:600;
}

.how-much.receives {
    color:#52c41a;
}

.how-much.debit,
.the-rest p strong {
    color: #f5222d;
}

.the-rest p {
    font-size:18px;
    text-align:center;
    margin:0;
}

.the-rest p span {
    font-size:14px;
    color:#8c8c8c;
}

header div span {
    font-size:14px;
    font-weight: 700;
}

.input-group {
	display:flex;
	justify-content:space-between;
	align-items:center;
    margin-bottom:20px;
}

.input-group input:nth-child(4) {
    margin-left:10px;
}

input {
    box-sizing: border-box;
    width: 100%;
    height:34px;
    border-radius:3px;
    padding: 4px 11px;

    color: rgba(0,0,0,.65);
    font-family:inherit;
    font-size: 14px;
    line-height: 1.5715;

    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;

    transition: .3s;
}

button {
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 600;
    white-space: nowrap;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    font-family:inherit;
    height: 36px;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 3px;
}

button.btn-add {
    width:100%;
    color: #fff;
    background: rgb(41,101,223);
    background: linear-gradient(324deg, rgba(41,101,223,1) 0%, rgba(60,77,185,1) 100%);
    border-color: rgb(41,101,223);
}

button.btn-delete {
    color: #fff;    
    background: #ff4d4f;
    border-color: #ff4d4f;
    margin-left:10px;
}

button.btn-clean {    
    flex-grow:1;
    width: 100%;
    margin-top:20px;
}

input:hover {
    border-color: rgb(41,101,223);
    border-right-width: 1px!important;
}

input:focus,
button:hover,
button:focus {
    border-color: rgb(41,101,223);
    border-right-width: 1px!important;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(24,144,255,.2);
    box-shadow: 0 0 0 2px rgba(24,144,255,.2);
}

button.btn-delete:hover,
button.btn-delete:focus {
    border-color: rgb(255, 77, 79);
    -webkit-box-shadow: 0 0 0 2px rgba(255,77,79,.2);
    box-shadow: 0 0 0 2px rgba(255,77,79,.2);
}

#who-put-list,
#division-list {
    margin: 20px 0 0;
}

.someone {
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;

    margin: 10px 0;
}

.someone img {
    margin-right:5px;
}

hr {
    flex-grow:1;
    border:none;
    border-top:dashed 1px #CCC;
    margin: 0 10px;
}

#total {
    margin: 20px 0 ;
    padding:10px 0;
    border-top: solid 1px #CCC;
    border-bottom: solid 1px #CCC;
}

.total {
    display:flex;
    justify-content:space-between;
    align-items:center;    
}

.divided-by {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.divided-by input {
    width:auto;
    max-width:100px;
}

.the-rest {
    background: #FAFAFA;
    border: dashed 1px #CCC;
    padding: 5px 10px;
    border-radius: 3px;
    margin-top:20px;    
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

footer {
    display:flex;
    justify-content:space-evenly;
}

@media only screen and (max-width:310px) {

    h1 {
        font-size:18px;
    }

    h2 {
        text-align:left;
    }

    header img {
        max-width:30px;
    }

}