/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

::-moz-selection {
    background: rgba(41, 101, 223,.1);
    text-shadow: none;
}

::selection {
    background: rgba(41, 101, 223,.1);
    text-shadow: none;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Remove default margin */
body,
h1,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
    margin: 0;
}

hr {
    flex-grow:1;
    border:none;
    border-top:dashed 1px #CCC;
    margin: 0 10px;
}

/* Set core root defaults */
html {
    font-size: 1rem;
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    color: #111;
    background: #FFF;
    max-width: 340px;
    margin: 0px auto;
    padding: 10px;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
    box-sizing: border-box;
    width: 100% 
}

header {    
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    margin-bottom:10px;
}

h1 {
    font-size:22px;
    margin:0 0 0 10px;
    font-weight:700;
    flex-grow:1;
}

h2 {
    font-size:18px;
    font-weight:600;
    width:100%;
    border-bottom:solid 1px #CCC;
}

h3:first-child {
    font-weight:400;
    font-size:14px;
}

h3:last-child {
    font-size:20px;
    font-weight:600;
    font-family: monospace;
    text-align:right;
    color: #2965df;
}

h5 {
    font-weight:400;
}

h6 {
    width:100%;
    flex-grow:1;
    text-align:center;
    margin:0;
}

h5,
h6 {
    color: rgba(204, 204, 204, 1);
}

a {
    text-decoration:none;
    color:inherit;
}

p {
    font-size:16px;
}

.cuanto {
    font-family: monospace;
    font-weight:600;
}

.cuanto.recibe {
    color:#3EC960;
}

.cuanto.debe,
.resto p strong {
    color: #FF3A30;
}

.resto p {
    font-family: monospace;
    font-size:18px;
    text-align:center;
    margin:0;
}

.resto p span {
    font-size:14px;
}

.input-group {
	display:flex;
	justify-content:space-between;
	align-items:center;
    margin-bottom:15px;
}

input,
button,
.input-group img,
header img {
    transition: .3s;
}

.input-group img,
header img {
    height:30px;
    cursor:pointer;
}

.input-group img:hover,
header img:hover {
    opacity:.9;
    transform:scale(1.2);
}

input {
    max-width:43%;
    height:36px;
    border-radius: 2px;
    padding: 0px 8px;
    font-size:16px;
    border: 1px solid #ccc;
}

button {
    background:none;
    line-height: 1.5715;
    font-weight: 600;
    text-align: center;
    border: 0;
    height: 36px;
    font-size: 14px;
    border-radius: 2px;
    cursor:pointer;
    padding:0;
    margin:0;
}

button.btn-add {
    color: #2965df;
    background:rgba(41, 101, 223,0.1);
    border: solid 1px #2965df;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
}

button.btn-clean {
    margin-top:20px;    
    color: #000;
    background:rgba(204, 204, 204, 0.1);
    border: solid 1px rgba(204, 204, 204, 1);
    box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
}

input:hover,
input:focus,
button.btn-add:hover,
button.btn-add:focus {
    outline: 0;
    border: solid 1px #2965df;
    box-shadow: 0 0 0 2px rgba(41, 101, 223,.2);
}

button.btn-clean:hover,
button.btn-clean:focus {
    outline: 0;
    border: solid 1px #CCC;
    box-shadow: 0 0 0 2px rgba(204, 204, 204,.2);    
}

.lista-item {
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;

    margin: 10px 0;
}

.lista-item img {
    margin-right:5px;
}

#total {
    margin: 40px 0;
    padding:10px;
    background:#FFF;
    border-radius:5px;
    border: solid 1px rgba(204,204,204,0.5);
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
}

#total > div {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

#total > div * {
    flex-grow:1;
}

.dividir-por {
    margin-top: 10px;
}

.dividir-por input {
    max-width:100px;
}

.resto {
    border-radius:5px;
    border: dashed 1px rgba(204,204,204,0.8);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
    padding: 5px 10px;
    border-radius: 5px;
    margin-top:20px;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

footer {
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}